body, html{
    margin: 0;
    height: 100%;
    background-color:  #FDF8B7
} 
header{
    background-color: #FFF0A0;
    border: 1px solid black;
    padding: 1%;
	display: flex;
	vertical-align: middle;
    line-height: normal; 
}

header img {
    margin-left: 35%;
	float: left;
	width: 100px;
	height: 100px;
}

nav a{ 
    padding: 7%;
    text-align: left;
    display: block;
    background-color: bisque;
    border: 1px solid black;
    border-top: none;
    border-right: none;
}

section.images{
    background-color:#FFDDA0;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 1%;
}

section.imageRow img {
	width: 25%;
	height: 20%;
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
}

section.texts{
    background-color:#FFDDA0;
    border: 1px solid black;
    border-bottom: none;
    padding: 1%;
}

section.texts p{
    vertical-align: middle;
    padding: 2%;
    padding-left: 0;
    display: inline-block;
    width: 20%; 
    border: 1px solid black;
    background-color: #FFD181;
    margin-left: 8%;
}

footer{ 
    background-color: #FFF0A0;
    border: 1px solid black;  
}

section.bottomSection p{
    text-align: center;
    position: relative;
    float: right;
    display: block;
    width: 33%; 
    margin: 0;
    background-color: #FFF0A0; 
}

#bottomText{ 
    display:inline-block;
    padding: 2%;
    text-align: center;
    background-color: #FFD181;
    margin: 0;
    border-top: 1px solid black;  
}

#middleParagraph{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#left{
    width: 200px;
    position: relative;
    float: left;
}

#right {
    width: auto;
    height: auto;
    position: relative; 
    margin-left: 200px;
}
